.kotak1 h2{
    text-align: left;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    color: #26f;
    padding: 5px 10px 7px;
    background-color: #131313;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px 20px;
}
@media (max-width: 1366px) and (min-width:480px){
body,html{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
}
.navbar{
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.logo{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logo .logo1 img{
    margin-left: 60px;
    width: 35px;
}
.tab{
    align-self: center;
    flex: 1;
}
.tab ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
}
.tab ul li{
    margin-left: 5px;
    margin-right: 5px;
}
.tab ul li a{
    padding: 10px 15px;
    border-radius: 10px;
    color: #26f;
    display: flex;
    align-content: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.tab ul li a .tit{
    margin-top: 1px;
    flex:1;
}
.tab ul li a .material-icons {
    margin-right: 5px;
    transition: 0.5s ease-in-out;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.tab ul li a:hover{
    color: white;
    background-color: #26f;
}
.burger {
    margin-right: 20px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
}
.burger input{
    cursor: pointer;
    right: 7px;
    position: absolute;
    width: 40px;
    height: 20px;
    opacity: 0;
    z-index: 2;
}
.burger span{
    display: block;
    height: 3px;
    width: 20px;
    background-color: #26f;
    border-radius:2px;
    transition: all 0.5s;
    opacity: 100%;
}
.burger :nth-child(2){
    transform-origin: top left;
}
.burger :nth-child(4){
    transform-origin: bottom left;
}
.burger .check:checked ~ :nth-child(2){
    transform: rotate(45deg) ;
}
.burger .check:checked ~ :nth-child(3){
    transform: translateX(-20px);
    opacity: 0%;
}
.burger .check:checked ~ :nth-child(4){
    transform: rotate(-45deg) translateY(-1px);
}
.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 100px;
    width: 100%;
    background-color: #1c1c1c;
}
.titleu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url("/img/unsplash.jpg");
    background-size: cover;
    position: relative;
}
.titleu h1{
    display: block;
    width: 300px;
    height: 56px;
    background-color: #26f;
    text-align: center;
    line-height: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: rgb(255, 255, 255);
}
.titleu span{
    display: block;
    text-align: center;
    width: 200px;
    height: 20px;
    background-color: #1c1c1c;
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: white;
}
.titleu span a{
    text-decoration: none;
    color: #26f;
}
.titlep{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titlep h2{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 40px;
}
.bungkus{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 95%;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.bungkus .kotak1{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 400px;
    width: 400px;
    background-color:#26f;
    transition: 0.5s ease-in-out;
}
.bungkus a{
    text-decoration: none;
    margin: 5px;
}
}
/*
.bungkus1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.bungkus1 .tabp1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: salmon;
    width: 1300px;
}
.bungkus1 .tabp2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: sandybrown;
    width: 90%;
}
.bungkus1 .tabp3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: seagreen;
    width: 90%;
}
.cont1{
    width:300px;
    height: 100px;
    background-color: rgb(2, 15, 44);
}*/
@media (min-width: 481px) and (max-width: 767px) {
    .navbar{
        z-index: 2;
        position: fixed;
        width: 100%;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        padding: 15px 0;
        transition: 0.5s ease-in-out;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logo .logo1 img{
        margin-left: 20px;
        width: 35px;
    }
    .tab{
        align-self: center;
    }
    .tab ul{
        top: 69px;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 0px;
        padding: 0 20px;
        margin-right: 0px;
        background-color: #1c1c1c;
        height: 200px;
        right: 0;
        margin: 0;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }
    .tab ul.slide{
        transform: translateX(0);
    }
    .tab ul li{
        margin-left: 2px;
        margin-right: 2px;
    }
    .tab ul li a{
        padding: 10px 15px;
        border-radius: 10px;
        color: #26f;
        display: flex;
        align-content: center;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    .tab ul li a .tit{
        margin-top: 1px;
        flex:1;
    }
    .tab ul li a .material-icons {
        margin-right: 5px;
        transition: 0.5s ease-in-out;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    .tab ul li a:hover{
        color: white;
        background-color: #26f;
    }
    .burger {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-around;
    }
    .burger input{
        cursor: pointer;
        right: 7px;
        position: absolute;
        width: 40px;
        height: 20px;
        opacity: 0;
        z-index: 2;
    }
    .burger span{
        display: block;
        height: 3px;
        width: 20px;
        background-color: #26f;
        border-radius:2px;
        transition: all 0.5s;
        opacity: 100%;
    }
    .burger :nth-child(2){
        transform-origin: top left;
    }
    .burger :nth-child(4){
        transform-origin: bottom left;
    }
    .burger .check:checked ~ :nth-child(2){
        transform: rotate(45deg) ;
    }
    .burger .check:checked ~ :nth-child(3){
        transform: translateX(-20px);
        opacity: 0%;
    }
    .burger .check:checked ~ :nth-child(4){
        transform: rotate(-45deg) translateY(-1px);
    }
    .bungkus .kotak1{
        height: 300px;
        width: 300px;
    }
    .titleu{
        position: relative;
    }
    .titleu span{
        display: block;
        text-align: center;
        width: 200px;
        height: 20px;
        background-color: #1c1c1c;
        position: absolute;
        bottom: 10px;
        right: 25px;
        font-size: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        color: white;
    }
    .titleu span a{
        text-decoration: none;
        color: #26f;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    body,html{
        margin: 0;
        padding: 0;
        background-color: #1c1c1c;
        color: white;
    }
    .navbar{
        z-index: 2;
        position: fixed;
        width: 100%;
        display: flex;
        font-family: 'Inter', sans-serif;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        padding: 15px 0;
        transition: 0.5s ease-in-out;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logo .logo1 img{
        margin-left: 20px;
        width: 35px;
    }
    .tab{
        align-self: center;
    }
    .tab ul{
        top: 69px;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 0px;
        padding: 0 20px;
        margin-right: 0px;
        background-color: #1c1c1c;
        height: 200px;
        right: 0;
        margin: 0;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }
    .tab ul.slide{
        transform: translateX(0);
    }
    .tab ul li{
        margin-left: 2px;
        margin-right: 2px;
    }
    .tab ul li a{
        padding: 10px 15px;
        border-radius: 10px;
        color: #26f;
        display: flex;
        align-content: center;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
    .tab ul li a .tit{
        margin-top: 1px;
        flex:1;
    }
    .tab ul li a .material-icons {
        margin-right: 5px;
        transition: 0.5s ease-in-out;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    .tab ul li a:hover{
        color: white;
        background-color: #26f;
    }
    .burger {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-around;
    }
    .burger input{
        cursor: pointer;
        right: 7px;
        position: absolute;
        width: 40px;
        height: 20px;
        opacity: 0;
        z-index: 2;
    }
    .burger span{
        display: block;
        height: 3px;
        width: 20px;
        background-color: #26f;
        border-radius:2px;
        transition: all 0.5s;
        opacity: 100%;
    }
    .burger :nth-child(2){
        transform-origin: top left;
    }
    .burger :nth-child(4){
        transform-origin: bottom left;
    }
    .burger .check:checked ~ :nth-child(2){
        transform: rotate(45deg) ;
    }
    .burger .check:checked ~ :nth-child(3){
        transform: translateX(-20px);
        opacity: 0%;
    }
    .burger .check:checked ~ :nth-child(4){
        transform: rotate(-45deg) translateY(-1px);
    }
    .sec1{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: 70px;
        padding-bottom: 100px;
        width: 100%;
        background-color: #1c1c1c;
    }
    .titleu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        text-align: center;
        background-image: url("/img/unsplash.jpg");
        background-size: cover;
        position: relative;
    }
    .titleu h1{
        display: block;
        width: 300px;
        height: 56px;
        background-color: #26f;
        text-align: center;
        line-height: 5px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 56px;
        color: rgb(255, 255, 255);
    }
    .titleu span{
        display: block;
        text-align: center;
        width: 200px;
        height: 20px;
        background-color: #1c1c1c;
        position: absolute;
        bottom: 10px;
        right: 25px;
        font-size: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        color: white;
    }
    .titleu span a{
        text-decoration: none;
        color: #26f;
    }
    .titlep{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .titlep h2{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 100;
        font-size: 40px;
        text-align: center;
    }
    .bungkus{
        display:flex;
        flex-wrap: wrap;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 10px;
        width: 95%;
        justify-content: center;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
    }
    .bungkus .kotak1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        background-color:#26f;
        transition: 0.5s ease-in-out;
        
    }
    .bungkus a{
        text-decoration: none;
        color: black;
        margin: 5px;
    }
    .kotak1 h2{
        text-align: left;
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        color: #26f;
        padding: 5px 10px 7px;
        background-color: #131313;
        border-radius: 10px;
        font-size: 14px;
        margin: 20px 20px;
    }
}
::-webkit-scrollbar{
    position: absolute;
    background-color: #1c1c1c;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #26f;
    border-radius: 8px;
}
.k1{
    background-image: url("/img/port-deg1.png");
    background-position: center;
    background-size: 400px;
}
.k2{
    background-image: url("/img/port-deg2.png");
    background-position: center;
    background-size: 400px;
}
.k3{
    background-image: url("/img/port-deg3.png");
    background-position: center;
    background-size: 400px;
}
.k-w1{
    background-image: url("/img/Instagram\ post\ -\ 1.png");
    background-position: center;
    background-size: 400px;
}
.k-w2{
    background-image: url("/img/Instagram\ post\ -\ 2.png");
    background-position: center;
    background-size: 400px;
}
.k-w3{
    background-image: url("/img/Instagram\ post\ -\ 6.png");
    background-position: center;
    background-size: 400px;
}
.k-w4{
    background-image: url("/img/Instagram\ post\ -\ 5.png");
    background-position: center;
    background-size: 400px;
}
.k-w5{
    background-image: url("/img/Instagram\ post\ -\ 7.png");
    background-position: center;
    background-size: 400px;
}
.k-w6{
    background-image: url("/img/Instagram\ post\ -\ 8.png");
    background-position: center;
    background-size: 400px;
}
.k-p1{
    background-image: url("/img/Instagram\ post\ -\ 4.png ");
    background-position: center;
    background-size: 400px;
}
.k-p2{
    background-image: url("/img/pport-prog2.png");
    background-position: center;
    background-size: 400px;
}
.bungkus .kotak1:hover{
    background-size: 390px;
    filter: grayscale(0);
}
.bungkus .kotak1{
    filter: grayscale(0.3);
}
.fut {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 10px 0px;
    height: 50px;
    width: 100%;
    background-color: #0f0f0f;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 12px;
}